*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    /* color */
    --dark-purple: #301534;
    --pink: #ad28eb;
    --light-pink: #f8eeff;
    --pale-purple: #8b6990;
    --white: #ffffff;

    /* typography */
    --display: bold 3.5rem / normal "Work Sans";
    --title: 600 1.125rem / normal "Work Sans";
    --body: normal 1rem/1.5 "Work Sans";
}

html {
    height: 100%;
    background: var(--light-pink);
}

body {
    height: 100%;
    font: var(--body);
}

main {
    height: 100%;
    padding-inline: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background__image {
    width: 100%;
    min-height: 14.5rem;
    object-fit: cover;
}

.card {
    margin-block: auto;
    max-width: 37.5rem;
    background: white;
    position: relative;
    z-index: 1;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.title {
    font: bold 2rem / normal "Work Sans";
    color: var(--dark-purple);
}

.accordion {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.accordion > * + * {
    border-top: 0.0625rem solid var(--light-pink);
    padding-top: 1.25rem;
}

.item {
    display: flex;
    flex-direction: column;
}

.item__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    color: var(--dark-purple);
    cursor: pointer;
}

.item__label:hover {
    color: var(--pink);
}

.item__label--header {
    font: 600 1rem / normal "Work Sans";
    color: inherit;
}

.radio {
    appearance: none;
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    -ms-appearance: none; /* Edge */
    content: url("/assets/images/icon-plus.svg");
    width: 1.875rem;
    cursor: pointer;
}

.radio:checked {
    content: url("/assets/images/icon-minus.svg");
}

.item__description {
    max-height: 0;
    overflow: hidden;
    transition: 350ms;
    font: normal 0.875rem/1.5 "Work Sans";
    color: var(--pale-purple);
}

.item__label:has(.radio:checked) + .item__description {
    margin-top: 1.5rem;
    max-height: 6.25rem; /* Adjust as needed */
    overflow: hidden;
    transition: 350ms;
}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 48rem) {
    .card {
        padding: 2.5rem;
        gap: 2rem;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .title {
        font: var(--display);
    }

    .accordion {
        gap: 1.5rem;
    }

    .accordion > * + * {
        padding-top: 1.5rem;
    }

    .item__label--header {
        font: var(--title);
    }

    .item__description {
        font: var(--body);
    }
}
